.btnContainer {
  display: flex;
  gap: 10px;
  align-items: center;
  margin-top: 10px;
}

.paragraphWrapper {
  border: 2px solid lightgray;
  margin-top: 10px;
  padding: 20px;
  &--active {
    border: 2px solid #5e9ed6;
  }
}

.paragraph {
  border-left: 20px solid transparent;
  padding: 10px;
  height: 20px;
  position: relative;
  outline: none;
}

.paragraph[contenteditable='true']:hover {
  border-left: 20px solid lightgray;
}

.linkContainer {
  margin-top: 10px;
  padding: 20px;
  background-color: lightgray;
  & > a:nth-of-type(odd) {
    color: green;
  }
  & > a:nth-of-type(even) {
    color: red;
  }
}

.btnMain {
  min-width: 140px;
}
