.paragraphWrapper {
  border: 1px solid gray;
  margin-top: 40px;
}

.paragraph {
  border-left: 20px solid #ccc;
  padding: 10px;
  // min-height: 100px;
  div {
    padding: 20px;
  }
  div::before {
    content: '#';
  }
  // display: inline-block;
}

.linkContainer {
  background-color: lightgray;
  & > a:nth-of-type(odd) {
    color: green;
  }
  & > a:nth-of-type(even) {
    color: red;
  }
}